* {
    font-family: Roboto;
    box-sizing: border-box;
}
.header{
    text-align: center;
    padding:10px;
}
.container{
    padding: 3ch 3ch 5ch 3ch;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
    background-color: #c0c0c0;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
label {
    text-align: center;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text], input[type=password], a{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

input[type=submit], input[type=reset] {
    margin: 6px;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.error-box{
    margin: 20px 20px 5px 20px;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    background-color: #f88;
    width:50%;
}
.result-box{
    margin: 20px 20px 5px 20px;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    background-color: lightslategray;
    width:50%;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:link, a:visited {
    background-color: lightslategray;
    color: white;
    text-align: center;
    text-decoration: none;
}